//COLORS

$darkGreen: #46a094;
$ligthGreen: #6bbd99;
$croco: #aecfa4;
$light: #c4e8c2;

$white: #ffffff;
$black: #000000;

// FONTS

$navFont: "Alumni Sans Pinstripe", sans-serif;
$titleFont: "Rubik Maze", cursive;
